<div class="wrapper">
    <h3>Your Information</h3>
    <input type="text" placeholder="First Name" class="box-12"/>
    <input type="text" placeholder="Last Name" class="box-12"/>
    <input type="text" placeholder="Address Line 1" class="box-12"/>
    <input type="text" placeholder="Address Line 2" class="box-12"/>
    <div class="clearfix">
        <input type="text" placeholder="City" class="box-6 left"/>
        <input type="text" placeholder="State" class="box-6 right"/>
    </div>
</div>
